* {
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

body {
}

/*
    Scrollbar
  
*/

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #212529;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #212529;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #212529;
}

/*
    Navigation
*/

nav {
  height: 80px;
  z-index: 10;
  transition: all 0.2s ease;
  animation: fadeIn 1s ease-in-out;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  transition: all 0.5s ease;
  color: steelblue;
}

.brand {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#mode {
  transition: all 0.2s ease;
}

/*
    Home
*/

#home {
  overflow: hidden;
}

.text-1 {
  animation: fadeIn 2s ease, leftToRight 1.5s ease;
}

.text-2 {
  animation: fadeIn 2.5s ease, leftToRight 1.8s ease;
}

.text-3 {
  animation: fadeIn 3s ease, leftToRight 2.1s ease;
}

#home img {
  border-radius: 100%;
  filter: contrast(0.9);
  animation: fadeIn 2s ease, rightToLeft 1.5s ease;
}

/*
    About
*/
#about {
  overflow: hidden;
}

#about span,
#about i {
  color: lightskyblue;
}

.about-me {
  animation: fadeIn 2s ease, topToBottom 1.5s ease;
}

.about-1 {
  animation: fadeIn 2.5s ease, leftToRight 1.8s ease;
}

.about-2 {
  animation: fadeIn 2.5s ease, rightToLeft 1.8s ease;
}

.sum {
  animation: fadeIn 3s ease, bottomToTop 2s ease;
}
/*
    Skills
*/
#skills span {
  color: lightskyblue;
}

.skill-name:hover {
  color: lightskyblue;
  cursor: pointer;
  transition: all 0.8s ease;
  transform: scale(1.2);
}

/*
    Projects
*/
#projects span {
  color: lightskyblue;
}
/*
    Contact
*/
#contact span {
  color: lightskyblue;
}
/*
    Footer
*/
footer {
  height: 60px;
}

/*
    More
*/

.space {
  padding-top: 120px;
}

.bsh {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.bsh-3 {
  box-shadow: rgba(3, 144, 244, 0.4) 0px 2px 4px,
    rgba(3, 144, 244, 0.3) 0px 7px 13px -3px,
    rgba(3, 144, 244, 0.2) 0px -3px 0px inset;
}

.text-justify {
  text-align: justify;
}

.neon-text {
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
    0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
    0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
    0 0 60px rgba(30, 132, 242, 1);
}

/*
  Animation
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes leftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes rightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes topToBottom {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes bottomToTop {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}

/*
  Media Query
*/
