:root {
  --blue-1: rgb(187, 225, 250);
  --blue-2: rgb(50, 130, 184);
  --blue-3: rgb(15, 76, 117);
  --blue-4: rgb(27, 38, 44);
  --blue-5: rgb(8, 11, 13);
}

.bg-blue-1 {
  background-color: var(--blue-1);
}
.bg-blue-2 {
  background-color: var(--blue-2);
}
.bg-blue-3 {
  background-color: var(--blue-3);
}
.bg-blue-4 {
  background-color: var(--blue-4);
}
.bg-blue-5 {
  background-color: var(--blue-5);
}
/* style */
* {
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/*
    Scroll
*/
html.sr .load-hidden {
  visibility: hidden;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #212529;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #212529;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #212529;
}

/*
    Navigation
*/

nav {
  height: 80px;
  z-index: 10;
  transition: all 0.2s ease;
  animation: fadeIn 1s ease;
}

nav .nav-cell {
  transition: all 0.6s ease;
}
nav .nav-cell:hover {
  transform: scale(1.1);
}
nav a {
  text-decoration: none;
  color: white;
  transition: all 0.6s ease;
}

nav a:hover {
  transition: all 0.5s ease;
  color: var(--blue-2);
}

#mode {
  transition: all 0.2s ease;
  text-align: right;
}

.down {
  width: max-content;
}

.list-menu,
.list-menu i {
  transition: all 0.5s ease;
  text-align: right;
}

.list-menu i:hover {
  transition: all 0.5s ease;
  cursor: pointer;
  color: var(--blue-2);
}
.list-dropdown {
  transition: all 0.5s ease;
  position: fixed;
  right: 0;
  z-index: 20;
  background-color: var(--blue-4);
  height: 100vh;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.list-dropdown a {
  transition: all 0.6s ease;
  color: white;
}
.list-dropdown a:hover {
  color: var(--blue-2);
}
/*
    Home
*/

#home {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-1 {
  animation: fadeIn 2s ease, leftToRight 1.5s ease;
}

.text-2 {
  animation: fadeIn 2.5s ease, leftToRight 1.8s ease;
}

.text-3 {
  animation: fadeIn 3s ease, leftToRight 2.1s ease;
}

#home img {
  border-radius: 100%;
  filter: contrast(0.9);
  animation: fadeIn 2s ease, rightToLeft 1.5s ease;
}

/*
    About
*/
#about {
  overflow: hidden;
  margin-top: 80px;
}

#about span {
  color: var(--blue-1);
}

.about-1 {
  color: var(--blue-2);
}

.about-2 {
  font-size: 1.25rem;
}

.carousel-inner {
  transition: all 0.8s ease;
}

.carousel-item {
  transition: all 0.8s ease;
  animation: fadeIn 1.5s ease;
}

.carou-img img {
  border-radius: 20px;
}

.sum {
  padding: 0px 10%;
}

.carou-btn:hover {
  transform: scale(1.2);
}

/*
    Skills
*/
#skills span {
  color: var(--blue-1);
}

.skill-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  position: relative;
  padding: 16px 0px;
}

.item-name {
  display: block;
  position: absolute;
  transition: all 0.4s ease;
  top: 100%;
}

.item-img {
  display: block;
  transition: all 0.5s ease;
}

.skill-name:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*
    Projects
*/
#projects span {
  color: var(--blue-1);
}
/*
    Contact
*/
#contacts span {
  color: var(--blue-1);
}
/*
    Footer
*/
footer {
  height: 60px;
}

/*
    More
*/

.space {
  padding-top: 120px;
}

.bsh {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.bsh-3 {
  box-shadow: rgba(3, 144, 244, 0.4) 0px 2px 4px,
    rgba(3, 144, 244, 0.3) 0px 7px 13px -3px,
    rgba(3, 144, 244, 0.2) 0px -3px 0px inset;
}

.text-justify {
  text-align: justify;
}

.neon-text {
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
    0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
    0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
    0 0 60px rgba(30, 132, 242, 1);
}

.visible {
  visibility: visible;
  opacity: 0.8;
  transition: opacity 0.6s ease;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.5s ease;
} /*
  Animation
*/

.trans {
  transition: all 0.6s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInHalf {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes leftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes rightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes rightOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200%);
  }
}

@keyframes topToBottom {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes bottomToTop {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}

/*
  Media Query
*/
@media all and (width <= 1280px) {
  nav .brand {
    font-size: calc(1.3rem + 0.6vw) !important;
  }
  nav .nav-cell {
    font-size: 1rem;
  }

  #home img {
    transition: all 0.5s ease;
    width: 80%;
  }
}

@media all and (width <= 992px) {
  nav {
    background-color: var(--blue-5) !important;
  }

  nav .list-menu-item {
    transition: all 0.5s ease;
    display: none;
    animation: fadeOut 1s;
  }

  nav .space-7 {
    display: block !important;
  }

  nav .list-menu {
    transition: all 0.5s ease;
    display: block !important;
    animation: fadeIn 0.8s;
  }
}

@media all and (width <= 768px) {
  #home .text-1 {
    font-size: 1.25rem;
  }
  #home .text-2,
  #home .text-2-2 {
    font-size: calc(1.3rem + 0.6vw) !important;
  }
  #home .text-3 {
    font-size: 0.75rem;
  }
}
@media all and (992px < width <= 1200px) {
}

@media all and (768px < width <= 992px) {
  .list-dropdown {
    width: 35%;
  }
}

@media all and (576px < width <= 768px) {
  .list-dropdown {
    width: 40%;
  }
}

@media all and (width <= 576px) {
  .list-dropdown {
    width: 60%;
  }

  #home {
    height: 680px;
  }

  #home .row {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  #home .div480 {
    height: 480px;
  }

  .div480 .col {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-1,
  .about-2 {
    font-size: 1rem;
  }

  #about img {
    width: 100%;
  }

  .item-img img {
    height: 40px;
  }

  footer {
    font-size: 0.75rem;
  }
}

@media all and (width <= 400px) {
  .about-1 {
    font-size: 0.9rem;
  }
  .about-2 {
    font-size: 0.75rem;
  }
}
